body {
    background-color: #fdf6f0;
}
.logo{
    display: grid;
    margin: auto;
    justify-content: center;
    }
.menu{
    width: 80%; /* largura total do container */
    overflow-x: auto; /* permite a rolagem horizontal */
    white-space: nowrap; /* impede que os itens quebrem em várias linhas */
    }
.rodape{
    margin: auto;
    text-align: center;
    justify-content: center;  
    align-items: flex-end;
    }
a{
    display: flex;
    color: #955124;
    justify-content: center;
    margin: auto;
    }
a img{
    width: 36px;
    height: 36px;
    margin: auto 5px;
    }
a h3{

}