body {
    background-color: #fdf6f0;
    width: 100%;
    height: 100%;
}
.logo{
    display: grid;
    margin: 50% 100px auto;
    justify-content: center;
    }
.menu{
    display: flex;
    color: #955124;
    width: 80%;
    height: 250px;
    margin: auto;
    overflow-x: auto;
    }
.menuitems{
    border-radius: 100%;
    height: 100px;
    margin-left: 5px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    }
.menublocks{
    justify-content: center;
    justify-items: center;
    margin: auto;
    color: #955124;
    text-align: center;
}


.rodape{
    margin: auto;
    text-align: center;
    justify-content: center;  
    }
.rodape a{
    display: inline-flex;
    color: #955124;
    justify-content: center;
    margin: auto;
    padding: auto;
    }
a img{
    margin: auto;
    padding: auto;
    justify-content: center;
    }

a h3{
    margin-left: 5px;
    margin-right: 10px;
}

.sublogo{
    display: grid;
    margin: auto;
    margin: 20px 100px auto;
    justify-content: center;
    justify-items: center;
    border-radius: 100%;
    color: #955124;
    }
.amostra{
    margin: 25px auto;
}
